html, body {
    height: 100%;
}

.table-wrap {
    height: 270px;
    overflow-y: auto;
}

.table-wrap::-webkit-scrollbar {
    width: 6px;
}

.table-wrap::-webkit-scrollbar-track {
    background-color: transparent;
}

.table-wrap::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(90,90,90,0.3);
}

@media (max-width: 640px) {
    .table-wrap {
        height: 400px;
        overflow-y: auto;
    }
}